// Colors
$primary: #f44336;
$primary-hover: #ff5c5c;
$dark-bg: #2b1d0f;
$dark-nav: #212121;
$text-light: #fff;
$text-dark: #000;
$secondary-bg: #694c2f;

// Fonts
$base-font: Verdana, Geneva, Tahoma, sans-serif;

// Sizes
$radius: 6px;
