header {
  nav {
    background-color: $dark-nav;
    padding: 20px;
    @include flex-center(row, space-between, center);
    z-index: 1;

    h1 {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      @include flex-center;
    }
  }
}