@mixin flex-center($dir: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($props: all, $time: 0.3s, $ease: ease-in-out) {
  transition: $props $time $ease;
  -webkit-transition: $props $time $ease;
  -moz-transition: $props $time $ease;
}

@mixin border-radius($radius: $radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
